body {
    font-size: 0;
}
.element {
    display: inline-block;
    font-size: 32px;
    background-color: darkgray;
    width: 25%;
    height: 70px;
}
.element:first-child {
    background-color: blue;
}
.element:last-child {
    background-color: blue;
}
.element:nth-child(3) {
    background-color: green;
}

.element2 {
    display: inline-block;
    font-size: 32px;
    background-color: darkgray;
    width: 25%;
    height: 70px;
    margin-top: 30px;
}
.element2:not(:last-child) {
    background-color: blue;
}